*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
table{
    margin: 15px auto;
    background-color: rgb(204, 231, 208);
}
tr{
    border: 2px solid;
}
td{
    padding:1.6em;
    border: 2px solid;
}
td{
    position: relative;
}
.div1{
    height:25px;
    width: 100%;
    left: 0;
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: 0%;
    border-top: 2px solid;
}
.div2{
    height:25px;
    width: 100%;
    left: 0;
    background-color: #ffff00;
    position: absolute;
    bottom: 0%;
    border-top: 2px solid;
}
.div3{
    height:8.4vh;
    width:1.8em;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: rgba(255, 68, 0, 0.74);
    border-left: 2px solid;
}
.div4{
    height:8.4vh;
    width:1.8em;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color:rgb(231, 18, 181);
    border-left: 2px solid;
}
.div5{
    background-color: #46b2fb;
    position: absolute;
    top: 0%;
    left: 0;
    height:25px;
    width: 100%;
    border-bottom: 2px solid;
}
.div6{
    background-color: rgb(148, 85, 56);
    position: absolute;
    top: 0%;
    left: 0;
    height:25px;
    width: 100%;
    border-bottom: 2px solid;
}
.img1{
    position: absolute;
    width:9rem;
    top: 9%;
    transform: rotate(-45deg);
}
.logo{
    width:28rem;
    position: absolute;
    top: 30%;
    transform: rotate(-45deg);
}
.img12{
    width:9rem;
    bottom: 12%;
    right: 7%;
    transform: rotate(-45deg);
    position: absolute;
}
.div7{
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: green;
    height: 8.4vh;
    width: 1.8em;
    border-right: 2px solid;
}
.div8{
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color:blue;
    height: 8.4vh;
    width: 1.8em;
    border-right: 2px solid;
}
.div9{
    position: absolute;
    width:2.1em;
    top: 0%;
    left:8px;
    transform: rotate(145deg);
}
.div10{
    position: absolute;
    width:7em;
    top:-5px;
    left:-30px;
    transform: rotate(180deg);
}
.div11{
    position: absolute;
    width:6em;
    top:3px;
    left:-23px;
}
.div12{
    position: absolute;
    width:6.6em;
    height: 12vh;
    transform: rotate(180deg);
    top:-24%;
    left:-50%;
}
.div13{
    width:3.5em;
    position: absolute;
    top: 0%;
    left:-6%;
    transform: rotate(270deg);
}
.div14{
    position: absolute;
    width:3.8em;
    left:-8%;
    top: -5%;
    height:9vh;
    transform: rotate(-90deg);
}
.div15{
    position: absolute;
    width:7em;
    top:1px;
    left:-30px;
    transform: rotate(-90deg);
}
.div16{
    position: absolute;
    width:5em;
    top:1px;
    left:-15px;
    transform: rotate(-90deg);
}
.div17{
    position: absolute;
    width:3.8em;
    left:-8%;
    top: -5%;
    height:9vh;
    transform: rotate(-360deg);
}
.div18{
    position: absolute;
    width:3.6em;
    left:-8%;
    top: -5%;
    height:9vh;
    transform: rotate(-360deg);
}
.div19{
    position: absolute;
    width:6em;
    top:3px;
    left:-23px;
    transform: rotate(-360deg);
}
.div20{
    position: absolute;
    width:4.8em;
    top:-3px;
    left:-12px;
}
.div21{
    position: absolute;
    width:3.5em;
    top: -10%;
    right:-20%;
}
.div22{
    position: absolute;
    width:3.8em;
    left:-8%;
    top: -5%;
    height:9vh;
    transform: rotate(-90deg);
}
.div23{
    position: absolute;
    width:3.5em;
    top:0;
    height: 8.5vh;
    left:0;
}